@inherits LayoutComponentBase
@using RoboVet6.Blazor.UI.Interfaces.Services
@inject ISelectedClientAnimalService SelectedClientAnimalService
@inject AppState state

<div class="page">
    <div class="sidebar">
        <NavMenu AnimalMenu ="state.ShowAnimalNav"/>
    </div>

    <div class="main">
        <div class="authToolbar auth change px-4">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="selectClientAnimal">
            <SelectedClientAnimal 
                Client ="state.SelectedClient"
                Animal ="state.SelectedAnimal"/>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>



@code {


    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        state.OnChange += StateHasChanged;
    }
}
