

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">RoboVet 6</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="client">
                <i class="fas fa-users nav-icon" style="font-size: 1rem;"></i> Clients
            </NavLink>
        </li>

        @if (AnimalMenu)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="animals">
                    <i class="fas fa-paw nav-icon" style="font-size: 1rem;"></i> Animals
                </NavLink>
            </li>
        }
        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <i class="fas fa-pills nav-icon" style="font-size: 1rem;"></i> Products
            </NavLink>
        </li>

    </ul>
</div>

@code {

    [Parameter]
    public bool AnimalMenu { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
