<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]='listFilter'/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table" *ngIf='clients && clients.length'>
        <thead>
          <tr>
            <th>Title</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City </th>
            <th>Postcode</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let client of filteredClients'>
            <td>{{client.title}}</td>
            <td>{{client.firstName}}</td>
            <td><a [routerLink] = "['/clients', client.id]">{{client.lastName}}</a></td>
            <td>{{client.address}}</td>
            <td>{{client.city}}</td>
            <td>{{client.postcode}}</td>
          </tr>
        </tbody>\
      </table>
    </div>
  </div>
</div>
